################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fatx_diffs.log
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/XFatMa/CopilotIndices/17.14.90.56529/CodeChunks.db
/.vs/XFatMa/CopilotIndices/17.14.90.56529/CodeChunks.db-shm
/.vs/XFatMa/CopilotIndices/17.14.90.56529/CodeChunks.db-wal
/.vs/XFatMa/CopilotIndices/17.14.90.56529/SemanticSymbols.db
/.vs/XFatMa/CopilotIndices/17.14.90.56529/SemanticSymbols.db-shm
/.vs/XFatMa/CopilotIndices/17.14.90.56529/SemanticSymbols.db-wal
/.vs/XFatMa/FileContentIndex/0948761b-05eb-4137-8d9c-6b678bce6455.vsidx
/.vs/XFatMa/FileContentIndex/d8f7dcb6-6ec9-471a-bab7-247d9560dc95.vsidx
/.vs/XFatMa/v17/.wsuo
/.vs/XFatMa/v17/DocumentLayout.json
/.vs/XFatMa/FileContentIndex/8206f757-9fbd-450c-83c2-b8ec7b27afb1.vsidx
/.vs/XFatMa/v17/DocumentLayout.backup.json
